h1 {
    text-align: center;
    color: cornflowerblue;
}

img {
    height: 1000px;
    width: auto;
}

.index-img {
    margin-bottom: 20px;
}

* {
    text-align: center;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: pink;
    text-decoration: none;
}

body {
    background-color: lightblue;
    text-align: center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: white;
}

.btn {
    margin: 10px;
    width: 100px;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.show-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-img {
    margin: 20px;
}

.show-info {
    margin: 20px;
    text-align: center;
    height: auto;
    width: 1000px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.show-comments {
    height: auto;
    width: 2040px;
    margin-bottom: -20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.border {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-control {
    width: 1000px;
}

form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group1 {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group2 {
    margin: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
}

.edit-wrapper {
    display: flex;
    flex-direction: row;
}

input {
    margin-bottom: 25px;
}

.edit-btns {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

#content {
    margin-bottom: 30px;
}

.review-input2 {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}